.main {
    background-color: #F3FCF8;
}

.main__banner {
    display: flex;
    width: 100vh;
    margin: 0px auto;
}

.main__banner__left {
    position: relative;
    top: 100px;
    margin-left:100px;
}

.main__banner__left__text {
    font-size: 40px;
    font-weight: 700;
    line-height: 60px;
}

.main__banner__left__button {
    display: flex;
    justify-content: center;
    width:180px;
    height: 40px;
    margin-top: 30px;
    background-color:#24C07F;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
}

.main__banner__left__button div {
    font-size: 24px;
    font-weight: 700;
}

.main__banner__left__button img {
    margin-left: 10px;
    width: 30px;
    height: 30px;
}

.main__banner__right {
    position: relative;
    right: -300px;
    
}

.main__banner__bottom {
    position: relative;
    top: 520px;
    right: 400px;
}




.main-button {
    display: flex;
    justify-content: center;
    width: 100vh;
    margin: 0px auto;
}


.main-button__mentor {
    border: solid 1px;
    margin: 76px 15px 125px;
    width:276px;
    height: 268px;
    
}

.main-button__mentor__img {
    width: 72px;
    height: 72px;
    border-radius: 100px;
    background: #BED2F1;
    text-align: center;
    margin: 20px 0 0 24px;
}

.main-button__mentor__img img {
    position: relative;
    top: 10px;
}

.main-button__mentor__text {
    margin-top: 20px;
    margin-left: 24px;
}

.main-button__mentor__text div:nth-child(1) {
    font-size: 26px;
    font-weight: 600;  
    margin-bottom: 30px;  
}

.main-button__mentor__text div:nth-child(2) {
    opacity:0.6;
    font-size: 16px;
    line-height: 24px;
}


.main-button__menti {
    border: solid 1px;
    margin: 76px 15px 125px;
    width:276px;
    height: 268px;
    
}

.main-button__menti__img {
    width: 72px;
    height: 72px;
    border-radius: 100px;
    background: #FFE299;
    text-align: center;
    margin: 20px 0 0 24px;
}

.main-button__menti__img img {
    position: relative;
    top: 10px;
}

.main-button__menti__text {
    margin-top: 20px;
    margin-left: 24px;
}

.main-button__menti__text div:nth-child(1) {
    font-size: 26px;
    font-weight: 600;  
    margin-bottom: 30px;  
}

.main-button__menti__text div:nth-child(2) {
    opacity:0.6;
    font-size: 16px;
    line-height: 24px;
}

.main-button__chat {
    border: solid 1px;
    margin: 76px 15px 125px;
    width:276px;
    height: 268px;
}

.main-button__chat__img {
    width: 72px;
    height: 72px;
    border-radius: 100px;
    background: #C6E9B5;
    text-align: center;
    margin: 20px 0 0 24px;
}

.main-button__chat__img img {
    position: relative;
    top: 10px;
}

.main-button__chat__text {
    margin-top: 20px;
    margin-left: 24px;
}

.main-button__chat__text div:nth-child(1) {
    font-size: 26px;
    font-weight: 600;   
    margin-bottom: 30px; 
}

.main-button__chat__text div:nth-child(2) {
    opacity:0.6;
    font-size: 16px;
    line-height: 24px;
}


.main-button__classroom {
    border: solid 1px;
    margin: 76px 15px 125px;
    width:276px;
    height: 268px;
}

.main-button__classroom__img {
    width: 72px;
    height: 72px;
    border-radius: 100px;
    background: #E6D5F3;
    text-align: center;
    margin: 20px 0 0 24px;
}

.main-button__classroom__img img {
    position: relative;
    top: 10px;
}

.main-button__classroom__text {
    margin-top: 20px;
    margin-left: 24px;
}

.main-button__classroom__text div:nth-child(1) {
    font-size: 26px;
    font-weight: 600;    
    margin-bottom: 30px;
}

.main-button__classroom__text div:nth-child(2) {
    opacity:0.6;
    font-size: 16px;
    line-height: 24px;
}


.main-button i {
    position: relative;
    top: 15px;
    left: 220px;
}

.main-button a {
    color:black;
}
